

<!DOCTYPE html>
<html lang="en">

<!-- header sisältö -->
<header>
    <meta charset="UTF-8">
    <% include ../partials/header %>


    <style>
        body {
            padding-top: 50px;
        }
    </style>
</header>



<!-- content sisältö -->
<body class="content">

    <content>

      <h1><%= new_heading %> </h1>
        <% include ../partials/content %>


  </content>



<!-- footer sisältö -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
