
<meta charset="UTF-8">


<!-- muotoilu -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<h2><%=new_heading2 %></h2>
<p> Tehtävän tarkoitus oli luoda guestbook, johon vierailija voi kirjata tietonsa ja kommentin. Kaikki toiminnot tapahtuvat samalla sivulla,
sisältöihin viitataan parsialeilla. Sivu on jaettu kolmeen pääosioon, header, content ja footer. Content osio määrittelee kunkin sijainnin
sisällön  </p>

<h2><%=new_heading3 %></h2>
<p> Kirjaa tietosi ja vapaa valintainen kommentti vieraskirjaan </p>
<style>
    body

     { padding-top:50px; }
</style>
