<title>Guestbook</title>
<nav class="navbar navbar-default" role="navigation">


        <div class="navbar-header">
            <a style="font-size:30px;" class="navbar-brand" href="#">

                Guestbook
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/guestbook">Add Information</a></li>
            <li><a href="http://localhost:8081/bookdata">Guestbook</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/modify">Modify</a></li>
        </ul>


</nav>
