

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<p style="text-align:center"> Please register yourself </p>

<form method="post" action="/guestbook" style="text-align: center">
  Name: <br>
   <input type="text" name="name"> <br> <br>
  Age: <br>
   <input type="text" name="age"> <br> <br>
  Email: <br>
   <input type="text" name="email"> <br> <br>
  Comment: <br>
   <input type="text" name="comment"> <br> <br>
   Company: <br>
    <input type="text" name="company"> <br> <br>


  <input type="submit" value="Submit">
  </form>
