<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<br><p style="text-align:center"> Kirjoita henkilön nimi, jota haluat muokata</p>

<form method="post" action="/modify" style="text-align: center">

  Name: <br>
   <input type="text" name="name"> <br> <br>



  <p style="text-align:center"> Kirjoita uusi nimi ja paina muuta</p>

  Name: <br>
   <input type="text" name="name1"> <br> <br>

  <input type="submit" value="Muuta">




  </form>
