<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<p style="text-align:center"> Kirjoita henkilön nimi kenet haluat poistaa</p>

<form method="post" action="/admin" style="text-align: center">

  Name: <br>
   <input type="text" name="name"> <br> <br>

  <input type="submit" value="delete">
  </form>
